.mmfont{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.borderandbg{
    background-color:#FFC017;
     border-bottom: 1px solid black;
}

.textmutedcolor{
    color: rgba(230, 230, 230, 1);
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.buttonmargin>li{
    margin:4px;
}